{% extends 'ecom/header.html' %}
{% load static %}

{% block content %}

<div class="container">
    <form method="POST", action="">
        <h1 class="h3 mb-3 fw-normal">Please log in</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit">
      </form>
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
      <br>
      <p>Don’t have an account? <a href="{% url 'signup' %}"> Sign up</a></p>
      
</div>

{% endblock %}